.container{
    position: fixed;
    background-image: url(tribal.png);
    min-width: 100%;
    min-height: 10%;
    background-size: cover;
    background-position: center;
  }


  .color{
      color: white;
  }

  .fullSize {
    margin: 10px;
    border-radius: 20px;
}